.idea

*.exe

*.txt
*.log
*.tmp

*.iml

### build file

manga-list/manga-list
random-money/random-money
zettel/zettel
vienna/vienna
mangas/mangas

.data

go.sum
github-trending
excel
_*

## notes-analysis
notes-analysis/dgraph
notes-analysis/cmd/cmd

## gokey
gokey/gokey

## xiaomi-fit
xiaomi-fit/xiaomi-fit

## txt-to-img
compression/txt-to-img/txt-to-img

## ming
ming/ming
ming/ming.exe

## tarot
tarot/tarot
tarot/tarot.exe
